<a href="https://colab.research.google.com/github/sowmR/pythonSamples/blob/main/python_math.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [15]:
#!/usr/bin/python
import math

In [16]:
# Exponential

X = 20.926
H = 2.999802E-04
B1 = 0.1738
B2 = 0.3156
B3 = 0.3347
Age=78
R = 6.702
r0 = B1*Age + B3
print(r0)
h0 = H * r0
print(h0)
math.exp(-(h0))

13.8911
0.00416705495622

0.9958416151701389

# other mathematical functions

In [20]:
# The absolute value of x: the (positive) distance between x and zero.
x = 23.45
y = 12.34
print("Absolute value of X: {}".format(abs(x)))
print("The ceiling of X: {}".format( math.ceil(x)))
# print("-1 if x < y, 0 if x == y, or 1 if x > y: {}".format(cmp( x, y )))
print("Absolute value of X: {}".format( math.fabs(x)))
print("Floor value of X: {}".format( math.floor(x)))
print("Natural Log value value of X for X>0: {}".format( math.log(x)))
print("Base-10 Log value of X for X>0: {}".format( math.log10(x)))

Absolute value of X: 23.45
The ceiling of X: 24
Absolute value of X: 23.45
Floor value of X: 23
Natural Log value value of X for X>0: 3.1548704948922883
Base-10 Log value of X for X>0: 1.3701428470511021

In [22]:
print("Max of a list: {}".format(max(20,15,40)))
print("Max of a list: {}".format(max('c','a','f')))

Max of a list: 40
Max of a list: f

In [25]:
print("Min of a list: {}".format(min(20,15,40)))
print("Min of a list: {}".format(min('c','a','f')))

Min of a list: 15
Min of a list: a

In [28]:
'''
The fractional and integer parts of x in a two-item tuple. Both parts have the same sign as x. The integer part is returned as a float.
'''
x = 24.76
print("The fractional and integer parts of x: {}".format(math.modf( x )))

The fractional and integer parts of x: (0.7600000000000016, 24.0)

In [29]:
'''
x ** y => x power y
'''
x = 2
y = 3
print("x power y is {}".format(pow(x,y)))

x power y is 8

In [30]:
'''
Rounding a number
'''
x = 7.50893640
y = 2.8
z = 3.3
print(" rounding x = {}".format(round(x)))
print(" rounding y = {}".format(round(y)))
print(" rounding z = {}".format(round(z)))
print(" rounding x to 3 decimal places = {}".format(round(x,3)))

 rounding x = 8
 rounding y = 3
 rounding z = 3
 rounding x to 3 decimal places = 7.509

In [31]:
'''
Square root of x
'''
x = 25
print("Square root of x is {}".format(x))

Square root of x is 25

# Random number functions

In [2]:
import random

In [6]:
arr = ['a','b','c']
print("random choice from array:  {}".format(random.choice(arr)))

choice from array:  c

### random range
randrange ([start,] stop [,step])

Parameters
start − Start point of the range. This would be included in the range.

stop − Stop point of the range. This would be excluded from the range.

step − Steps to be added in a number to decide a random number.

Return Value
This method returns a random item from the given range

In [7]:
print("Random Range between numbers {} and {} is {}".format(20,100,random.randrange(20,100,5)))

Random Range between numbers 20 and 100 is 60

In [8]:
print("Random value between 0 and 1 is {}".format(random.random()))

Random value between 0 and 1 is 0.6051176708489643

In [11]:
lst = [20,15,30,50,10]
print("shuffled list: {}".format(random.shuffle(lst)))

shuffled list: None

Python number method uniform() returns a random float r, such that x is less than or equal to r and r is less than y.

uniform(x, y)

x − Sets the lower limit of the random float.

y − Sets the upper limit of the random float.

Return Value:
This method returns a floating point number.

In [12]:
print(random.uniform(5, 10))

7.204453348766142

# Trigonometric Functions

In [15]:
import math
print ("acos(0.5) : ",  math.acos(0.5))
print ("acos(0) : ",  math.acos(0))
print ("acos(-1) : ",  math.acos(-1))
print ("acos(1) : ",  math.acos(1))

acos(0.5) :  1.0471975511965979
acos(0) :  1.5707963267948966
acos(-1) :  3.141592653589793
acos(1) :  0.0

In [16]:
import math
print ("asin(0.5) : ",  math.asin(0.5))
print ("asin(0) : ",  math.asin(0))
print ("asin(-1) : ",  math.asin(-1))
print ("asin(1) : ",  math.asin(1))

asin(0.5) :  0.5235987755982989
asin(0) :  0.0
asin(-1) :  -1.5707963267948966
asin(1) :  1.5707963267948966

In [17]:
import math
print ("atan(0.5) : ",  math.atan(0.5))
print ("atan(0) : ",  math.atan(0))
print ("atan(-1) : ",  math.atan(-1))
print ("atan(1) : ",  math.atan(1))

atan(0.5) :  0.4636476090008061
atan(0) :  0.0
atan(-1) :  -0.7853981633974483
atan(1) :  0.7853981633974483

In [18]:
# Return atan(y / x), in radians.
import math
print ("atan2(0.5,1) : ",  math.atan2(0.5,1))
print ("atan2(0,1) : ",  math.atan2(0,1))
print ("atan2(-1,1) : ",  math.atan2(-1,1))
print ("atan2(.5,.5) : ",  math.atan2(.5,.5))

atan2(0.5,1) :  0.4636476090008061
atan2(0,1) :  0.0
atan2(-1,1) :  -0.7853981633974483
atan2(.5,.5) :  0.7853981633974483

In [19]:
import math
print ("cos(0.5) : ",  math.cos(0.5))
print ("cos(0) : ",  math.cos(0))
print ("cos(-1) : ",  math.cos(-1))
print ("cos(1) : ",  math.cos(1))

cos(0.5) :  0.8775825618903728
cos(0) :  1.0
cos(-1) :  0.5403023058681398
cos(1) :  0.5403023058681398

In [20]:
# the Euclidean norm, sqrt(x*x + y*y).
import math
print ("hypot(0.5,1) : ",  math.hypot(0.5,1))
print ("hypot(0,1) : ",  math.hypot(0,1))
print ("hypot(-1,1) : ",  math.hypot(-1,1))
print ("hypot(.5,.5) : ",  math.hypot(.5,.5))

hypot(0.5,1) :  1.118033988749895
hypot(0,1) :  1.0
hypot(-1,1) :  1.4142135623730951
hypot(.5,.5) :  0.7071067811865476

In [21]:
import math
print ("sin(0.5) : ",  math.sin(0.5))
print ("sin(0) : ",  math.sin(0))
print ("sin(-1) : ",  math.sin(-1))
print ("sin(1) : ",  math.sin(1))

sin(0.5) :  0.479425538604203
sin(0) :  0.0
sin(-1) :  -0.8414709848078965
sin(1) :  0.8414709848078965

In [22]:
import math
print ("tan(0.5) : ",  math.tan(0.5))
print ("tan(0) : ",  math.tan(0))
print ("tan(-1) : ",  math.tan(-1))
print ("tan(1) : ",  math.tan(1))

tan(0.5) :  0.5463024898437905
tan(0) :  0.0
tan(-1) :  -1.5574077246549023
tan(1) :  1.5574077246549023

In [ ]:
import math
print ("degrees(0.5) : ",  math.degrees(0.5))
print ("degrees(0) : ",  math.degrees(0))
print ("degrees(-1) : ",  math.degrees(-1))
print ("degrees(1) : ",  math.degrees(1))

In [ ]:
# Converts angle x from degrees to radians.

import math
print ("radians(0.5) : ",  math.radians(0.5))
print ("radians(0) : ",  math.radians(0))
print ("radians(-1) : ",  math.radians(-1))
print ("radians(1) : ",  math.radians(1))

# mathematical Constants

In [23]:
math.pi

3.141592653589793

In [24]:
math.e

2.718281828459045